:root {
  --bg:#171a23;
  --bg-panel:#f1f1f1;
  --color-headings:#fff
  --color-text-opacity:rgba(255, 255, 255, 0.7);
  --color-text:#fff;
  --color-text-base:#161c2d;
  --border:#ced4da;
}

[data-theme=light] {
  --bg:#fff;
  --bg-panel:#fff;
  --color-headings:#161c2d;
  --color-text-opacity:rgba(22,28,45,0.7);
  --color-text:#161c2d;
  --color-text-base:#161c2d;
  --border:#383153;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section,
footer,
header,
main,
nav {
  display: block;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 100%;
  color: var(--color-text);
  background-color: var(--bg);
  letter-spacing: 0.01rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container,
.container--fluid {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1140px;
}

.title--lg {
  font-size: 5rem;
  letter-spacing: -0.15625rem;
  line-height: 1.05;
}

.title--md {
  font-size: 3rem;
  letter-spacing: -0.125rem;
}

.sub-title {
  font-size: 1.3125rem;
  line-height: 1.5;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}

.theme-toggle {
  background-color: #ff6f3c;
  position: fixed;
  right: 0;
  top: 30vh;
  z-index: 50;
  transition: 0.4s;
  transform: translateX(100%);
  max-width: 11.5625rem;
  padding: 0.9375rem 0.8125rem;
  text-align: center;
  border-bottom-left-radius: 1.5625rem;
}
.theme-toggle__header {
  margin-bottom: 1.125rem;
  line-height: 1;
}
.theme-toggle__btn-group {
  box-shadow: 0.0625rem 0.25rem 1.125rem rgb(0, 0, 0);
  border-radius: 2.0625rem;
  display: flex;
  overflow: hidden;
}
.theme-toggle__btn-group .theme-toggle__switch-btn {
  border: none;
  width: 50%;
  font-size: 0.6875rem;
  font-weight: 700;
  height: 2.625rem;
  padding: 1rem;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}
.theme-toggle__btn-group .theme-toggle__switch-btn.active {
  background-color: #155263;
  color: white;
}
.theme-toggle__btn-group .theme-toggle__switch-btn:hover {
  cursor: pointer;
}
.theme-toggle__tab {
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  width: 1.875rem;
  height: 3.125rem;
  border: none;
  background-color: #ff6f3c;
  color: white;
  border-bottom-left-radius: 0.625rem;
  border-top-left-radius: 0.625rem;
  left: 0.3125rem;
  font-size: 1.1875rem;
}
.theme-toggle__tab i {
  transition: 0.4s;
  pointer-events: none;
}
.theme-toggle__tab:hover {
  cursor: pointer;
}
.theme-toggle.open {
  transform: translateX(0);
}
.theme-toggle.open .theme-toggle__tab i {
  transform: scaleX(-1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ff9a3c;
  background: linear-gradient(170deg, #ff6f3c, #ff9a3c, #ffc93c);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  padding-right: 0.25rem;
}

nav ul {
  display: flex;
  gap: 1.25rem;
  color: var(--color-text);
}
nav ul li:hover {
  transform: scale(1.1);
}

[data-open=about] {
  cursor: pointer;
}

.modal--full {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transition: 0.3s ease-in;
  background-color: var(--bg);
  visibility: hidden;
}

.modal--visible {
  visibility: visible;
  opacity: 1;
}

.modal__header {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.modal__header .fa-times {
  font-size: 1.5rem;
}
.modal__header .fa-times:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal__body {
  display: flex;
}

.modal__headshot {
  width: 3.125rem;
}

[data-animation=zoomInOut].modal--full {
  transform: scale(0.2);
}

[data-animation=zoomInOut].modal--full.modal--visible {
  transform: none;
}

.hero__content {
  text-align: center;
  padding: 5.5rem 0;
}
.hero__code-icon {
  background-color: #ff9a3c;
  background: linear-gradient(170deg, #ff6f3c, #ff9a3c, #ffc93c);
  padding: 1.25rem 1.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2.5rem;
  text-align: center;
  color: #161c2d;
}
.hero__code-icon .fa-code {
  font-size: 2rem;
  display: inline-block;
  line-height: 1.5;
}
.hero__button {
  display: inline-flex;
  align-items: center;
  background-color: #ff6f3c;
  border-radius: 50rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03125rem;
  transition: 0.4s;
  height: 4.0625rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  box-shadow: 0 2rem 3.375rem rgba(3, 3, 3, 0.12);
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */