@use '../utils' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section,
footer,
header,
main,
nav {
  display: block;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  color: var(--color-text);
  background-color: var(--bg);
  letter-spacing: 0.01rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container,
.container--fluid {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1140px;
}

.title--lg {
  font-size: 5rem;
  letter-spacing: rem(-2.5);
  line-height: 1.05;
}

.title--md {
  font-size: 3rem;
  letter-spacing: rem(-2);
}

.sub-title {
  font-size: 1.3125rem;
  line-height: 1.5;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}